<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFn3eGuQ2knHm7mlKn4XBAlpSi6JKgMh0</string>
	<key>GCM_SENDER_ID</key>
	<string>933224625617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myWhatsaap.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-2bfd0</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-2bfd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933224625617:ios:43c78c2d3d02af17f4dcf0</string>
</dict>
</plist>